 body {
 	font-family: Arial, verdana, sans-serif;
 	background-image: url("images/tikigiki-diamond-grid-pattern-1-800px.jpg");    
 }
 p {
	 	font-size: 1.1em;
		color: rgb(0,94,91);
 }
 nav {
 	text-align: center;
 }

 section {	
	margin: 10px;
	border:3px solid MediumTurquoise;
	text-align: justify;
	margin: 10px;
	padding: 10px;
	float: left;
	width: 80%;
	position: relative;
}
section td{
	color: rgb(0,94,91);	
}
aside {
	border:3px solid MediumTurquoise;
	margin: 10px;
	padding: 10px;
	width: 650px;
	text-align: justify;
	float: right;
	position: relative;
}
section h1 {
	padding: 2px 10px 2px 10px;
}
aside h1{
	text-align: left;
	padding: 2px 10px 2px 10px;
}

aside li {
	color: rgb(0,94,91);	
}
h1 {
	font-size: 1.5em;
	text-align: right;
	color: white;
	background-color: MediumTurquoise;
}
header p {
	color: rgb(0,94,91);
	font-size: .9em;
	margin: 0;
	position: absolute;
	right: 0;
}
footer {
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow:hidden;
	margin: 18px auto;
}
#wrapper {
	  background:rgba(255,182,193, 0.95);
	  position: relative;
	  overflow: hidden;
	  margin:40px auto;
	  min-width: 40em;
	  max-width: 60em;
	  min-height:53em;
}
#mainNav li {
	display: inline;
	text-align: center;
	text-decoration: none;	
	font-size: 2em;
	padding-right: 15px;
}
#mainNav ul {
	background-color: MediumTurquoise;
	text-align: center;
}
#mainNav a {
	text-decoration: none;
	color: white;
}
#mainNav a:hover{
	color: rgb(255,182,193);
}
#footerNav li {
	display: inline;
	text-align: center;
	text-decoration: none;
}
#footerNav ul {
	background-color: MediumTurquoise;
	text-align: center;
   font-family: "Times New Roman", Georgia, Serif;
}

#footerNav a {
color: white;}

#footerNav a:hover{
color: rgb(255,182,193);}

#main-content{
	width:100%;
	overflow: hidden;
}
.small {
font-size: 1.1em;	

}
.stubborn {
    position: absolute;
    left: 0;
    bottom: 0;
	right: 0;
    height: 50px;
    width: 100%;
    overflow:hidden;
	margin: 18px auto;
}
.picture-holder {
	width: 100%;
	min-height: 120px;
	border: red;
}
.picture {
	width: 25%;
	text-align:center;
	position:relative;
	display: inline-block;
	float:left;
	padding:0px;
}


